# General
*.log
*.tmp

# Python
__pycache__/
*.py[cod]
env/
venv/

# Node.js
node_modules/

# Java
*.class
target/
build/

# OS files
.DS_Store
Thumbs.db

# Sensitive information
.env
config.yaml

# Data filesData files
data/audio/
data/out/